.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .menu {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  .menu.active {
    background-color: #ddd;
  }
  
  .section {
    display: none;
  }
  
  .section.active {
    display: block;
  }
  