*{
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', sans-serif;
    background-color: #1E1F2B;
    color: #fff;
}

.wrap {
    padding-bottom: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    margin-left: 3vh;
  }

#title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.logo {
    float: left;
    vertical-align: top;
    padding-right: 10px;
  }
.text-title{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}
.link{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
}
.text{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font-weight: normal;  
}
.text-not{
    padding-top: 40px;
    text-align: center;
    font-weight: normal; 
    color: red; 
    font-size: 20px;
}

.button-g {
    background-color: #2BA386;
    padding: 1rem 3rem;
    margin: 3vh 0vh;
    border: none;
    border-radius: 0.25rem; 
    color: white;
    text-align: center;
    width: 250px;
}
.button-g:hover {
    filter: brightness(80%);
  }

.button-b{
    border: 1px solid #1e1e25;
    background-color: #292a35;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.25rem; 
    color: white;
    text-align: center;
    width: 250px;
    margin-bottom: 3vh;
    
}

.button-b:hover {
    filter: brightness(90%);
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

#whitelistOpt{
    text-align: center;
    font-weight: normal; 
    color: #fff; 
    font-size: 14px;
}