body {
	font-family: helvetica, arial, 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', sans-serif;
	background-color: #1E1F2B;
	min-width: 200px;
    color: #fff;
}

.wrap {
    padding-bottom: 8px;
}

.logo {
    float: left;
    vertical-align: top;
    padding-right: 10px;
}

.content {
    vertical-align: top;
    padding: 20px;

}

.content #title{
    font-size: 17px;
    font-weight: bold;

}

.container{
    /* border: 0; */
    border-radius: 10px;
    font-size: 13px;
    font-weight: normal;
    padding: 0.1em;
    text-align: center;
    background-color: #2BA386;
    color: #fff;
}

.text{
    text-align: center;
}
